wget
tgcrypto
ffmpeg-python
py-tgcalls
telethon==1.28.2
pyrogram==2.0.59
youtube-search
youtube-search-python
yt-dlp
python-dotenv
dnspython
gitpython
asgiref
aiofiles
aiohttp
pytz
requests
pillow
heroku3
psutil
future
wget
speedtest-cli
motor
pyromod~=1.5
googletrans
pytz
aiofiles
pyrogram
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
motor
pillow
psutil
redis
py-tgcalls==0.9.7
asSQL
pykeyboard
gTTS
pyrogram==2.0.106
python-dotenv
pyyaml
requests
numpy
enums
telegraph
Translator
speedtest-cli
spotipy
tgcrypto
unidecode
motor==3.0.0
telegraph
pytz
googletrans
gpytranslate
pyromod~=1.5
dnspython
youtube-search
youtube-search-python
yt-dlp
youtube-search
youtube-search-python
git+https://github.com/yt-dlp/yt-dlp@master
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/joetats/youtube_search@master
pydub
SpeechRecognition
