wget
enums
telegraph
Translator
pyyaml
pyrogram==2.0.106
pykeyboard
hachoir
beautifulsoup4
asyncio
tgcrypto
ffmpeg-python
py-tgcalls==0.9.7
telethon==1.28.2
pyrogram
youtube-search
youtube-search-python
yt-dlp
python-dotenv
dnspython
gitpython
asgiref
asSQL
numpy
unidecode
getids
gTTS
aiofiles
dragonxxdlib
getids
SpeechRecognition
aiohttp
requests
pillow==9.5.0
heroku3
psutil
future
wget
speedtest-cli
motor
motor==3.0.0
pyromod~=1.5
googletrans
gpytranslate
pytz
spotipy
git+https://github.com/yt-dlp/yt-dlp@master
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/joetats/youtube_search@master

